<% container.location.each do |location| -%>
<div id="<%= "aliquot_#{id}" %>" class="aliquot <%= colours_by_location[container.location] %>" rel="<%= "#details_#{id}" %>">
  <%= location %>
</div>
<% end %>
