<h2>Source Plates</h2>
<% presenter.plate.creation_transfers.each do |transfer| %>
  <%= render :partial => "pooled_plate", :locals => {:plate_presenter => presenter, :walker => presenter.walk_source, :transfers => transfer.transfers} %>
<% end %>
<br/>

<h2>Pooled Plate</h2>

<% all_transfers = presenter.plate.creation_transfers.inject([]) {|memo,tf| memo.concat(tf.transfers.map { |_, location| [ location, location ] }) } %>
<% transfers = Hash[all_transfers] %>
<%= render :partial => "pooled_plate", :locals => {:plate_presenter => presenter, :walker => presenter.walk_destination, :transfers => transfers} %>
<%= render :partial => 'plate_information', :locals => { :plate => presenter.plate } %>
